[submodule "MailCore"]
	path = MailCore
	url = git://github.com/mronge/MailCore.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "cocos2d-iphone"]
	path = cocos2d-iphone
	url = git://github.com/cocos2d/cocos2d-iphone.git
[submodule "CrashKit"]
	path = CrashKit
	url = git://github.com/kaler/CrashKit.git
[submodule "iRate"]
	path = iRate
	url = git://github.com/nicklockwood/iRate.git
[submodule "RegexKitLite"]
	path = RegexKitLite
	url = git://github.com/wezm/RegexKitLite.git
[submodule "GoogleAnalytics-SDK-iOS"]
	path = GoogleAnalytics-SDK-iOS
	url = git://github.com/danielctull/GoogleAnalytics-SDK-iOS.git
