body {
	background-image:url("background.png");
}
		
h1{
	font-family: 'Marck Script', cursive;
	color:#222;
	font-size:40px;
	text-align:center;
}
		
.rightPanel{
	float:right;
	width:392px;
	overflow:auto;
}

.container{
	margin:auto;
	width:1000px;
}

.appstoreContainer {
	margin:auto;
	width:200px;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #444;
	text-align:justify;
}
a img {
	boder:none 0px;	
}